<mat-card>
    <span>Craete new entry</span>
    <form [formGroup]="entryForm">
        <mat-form-field>
            <input matInput placeholder="Entry description"/>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Entry type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Entry value"/>
        </mat-form-field>

        <button mat-raised-button>Create new</button>
    </form>
</mat-card>